{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Story 9</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/story9.css' %}" />
{% endblock meta %} {% block content %} {% include 'story9/navbar9.html' %} {% include 'story9/messages.html' %}
<div class="container my-5">
  <h1>
    Hello there{% if user.is_authenticated %}, {{user.username}}{%endif %}!
  </h1>
  {% if user.is_authenticated %}
  <h3>You can now see your profile <a href="{% url 'story9:profile' %}">here</a>.</h3>
  {% else %}
  <br>
  <h3>You need to log in to use all of the features</h3>
  <div class="d-flex mt-5">
    <a href="{% url 'story9:login' %}"><button class="btn btn-lg btn-dark">Log In</button></a>
    &nbsp;&nbsp;&nbsp;
    <a href="{% url 'story9:signup' %}"<button class="btn btn-lg btn-outline-secondary">Sign Up</button></a>
  </div>
  {% endif %}
</div>
{% endblock content %} {% block scripts %} {% endblock scripts %}
