{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} &nbsp;
{%block meta %}
<title>Story 9</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/story9.css' %}" />
{% endblock meta %} {% block content %}
{% include 'story9/navbar9.html' %}
{% include 'story9/messages.html' %}
<div class="container">
  <div class="card signup p-4 mx-auto my-5">
    <div class="form">
      <form
        class="d-flex flex-column justify-content-center"
        action=""
        method="POST"
      >
        <legend class="text-center">
          Log In
        </legend>
        <br>
        {% csrf_token %}
        <div>{{ form|crispy }}</div>
        <br />
        <button
          id="loginButton"
          class="btn btn-dark mb-3"
          type="submit"
        >
          Login
        </button>
      </form>
    </div>
    <div class="card-footer text-center">
      <small
        ><a href="{% url 'story9:signup' %}">No account? Sign Up!</a>
      </small>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %} {% endblock scripts %}
