{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} &nbsp;
{%block meta %}
<title>Story 9</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/story9.css' %}" />
{% endblock meta %} {% block content %} {% include 'story9/navbar9.html' %} {% include 'story9/messages.html' %}
<div class="container">
  <div class="card signup p-4 mx-auto my-5">
    <legend class="text-center">You have successfully signed out</legend>
    <div class="card-footer text-center">
      <small><a href="{% url 'story9:login' %}">Log in again?</a> </small>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %} {% endblock scripts %}
