{% load static %}
<nav class="navbar navbar-dark bg-dark navbar-expand-lg shadow">
  <a class="navbar-brand" href="#">
    <img
      src="{% static 'img/logo.png' %}"
      width="30"
      height="30"
      class="d-inline-block align-top"
      alt=""
    />
    AuthApp
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="{% url 'story9:home' %}">Home</a>
    </div>
    <div class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
      <div class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          My Account
        </a>
        <div
          class="dropdown-menu dropdown-menu-right bg-dark"
          aria-labelledby="navbarDropdown"
        >
          <a
            class="nav-item nav-link d-flex justify-content-between align-items-center px-3"
            href="{% url 'story9:profile' %}"
            >See Profile<i class="far fa-user-circle"></i
          ></a>
          <div
            class="nav-item nav-link d-flex justify-content-between align-items-center px-3"
            id="editProfile"
            data-toggle="modal"
            data-target="#edit"
            >Edit Profile<i class="far fa-edit"></i
          ></div>
          <div class="dropdown-divider"></div>
          <a
            class="nav-item nav-link d-flex justify-content-between align-items-center px-3"
            href="{% url 'story9:logout' %}"
            >Logout<i class="fas fa-sign-out-alt"></i
          ></a>
        </div>
      </div>
      {% else %}
      <a class="nav-item nav-link" href="{% url 'story9:login' %}">Log In</a>
      <a class="nav-item nav-link" href="{% url 'story9:signup' %}">Sign Up</a>
      {% endif %}
    </div>
  </div>
</nav>
