{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} &nbsp;
{%block meta %}
<title>Story 9</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/story9.css' %}" />
{% endblock meta %} {% block content %} {% include 'story9/navbar9.html' %}
&nbsp; {% include 'story9/messages.html' %}
<div class="container my-3">
  <div class="row">
    <div class="col-md-3 d-flex flex-column justify-content-center">
      <img
        class="img-fluid img-thumbnail"
        src="{{user.profile.avatar}}"
        alt="{{user.username}}'s avatar"
      />
      <div
        id="editProfile"
        data-toggle="modal"
        data-target="#edit"
        type="button"
        class="btn btn-dark mt-2"
      >
        Edit Profile
      </div>

      <!--<a href=""> <button class="btn btn-dark">Randomize avatar</button> </a>-->
    </div>
    <div class="col">
      {% if user.profile.full_name %}
      <h1>Hello, {{user.profile.full_name}}!</h1>
      {% else %}
      <h1>Hello, {{user.username}}!</h1>
      {% endif %}
      <p>id: {{user.username}}</p>
      <h4>
        <i class="fab fa-instagram"></i> {% if user.profile.instagram %}
        {{user.profile.instagram}} {% else %} - {% endif %}<br />
        <i class="fab fa-twitter-square"></i> {% if user.profile.twitter %}
        {{user.profile.twitter}} {% else %} - {% endif %} <br />
        <i class="fab fa-line"></i> {% if user.profile.line %}
        {{user.profile.line}} {% else %} - {% endif %}
      </h4>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="edit"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color: black">Edit User Profile</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form
        action="{% url 'story9:profile' %}"
        method="POST"
        style="color: black"
      >
        <div class="modal-body">{% csrf_token %} {{ form|crispy }}</div>
        <div class="modal-footer">
          <button id="saveEdit" type="submit" class="btn btn-dark mr-2">
            Save
          </button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End Modal -->
{% endblock content %} {% block scripts %} {% endblock scripts %}
