{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 7 | Accordion</title>
{% endblock meta %}

{% block content %}
<div class="container-fluid py-5">
  <div class="header">
    <div class="container d-flex justify-content-center">
      <img src="{% static 'img/logo.png' %}" alt="logo" id="logo" class="px-3">
      <h1>Story 7 : Accordion</h1>
    </div>
    <div class="container text-center pt-4">
      <a class="btn btn-outline-light" href="{% url 'main:home' %}">
        <i class="fas fa-arrow-left"></i>
        Back to home
      </a>
    </div>
  </div>
</div>

<div class="container ">
  <div class="text-center">
    <div class="wrapper">
      {% for detail in details %}
      <div class="acc-item">
        <div class="acc-header" style="background-color: {{detail.color}}">
          <div class="float-right">
            <i class="fas fa-chevron-up move-up"></i>&nbsp;
            <i class="fas fa-chevron-down move-down"></i>
          </div>
          <div class="title">
            {{detail.title}}
          </div>
        </div>
        <div class="acc-body">
          <p>{{detail.detail}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/accordion.js' %}"></script>
{% endblock scripts %}
