@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
}

.signup {
  max-width: 500px;
  background: rgba(0, 0, 0, 0);
  border: 1px white solid;
}

.help-block,
ul {
  margin-top: 5px;
  font-size: small;
  font-weight: 100;
}

.asteriskField {
  color: transparent;
}

.textinput {
  width: 100%;
}

.control-group {
  margin: 5px;
}
