.card {
    background-color: inherit;
    color: whitesmoke;
    border: none;
}

.book-img {
    width: 100px;
}

.book-img-table {
    width: 50px;
}

.table-dark {
    background-color: black;
}

.hr {
    border-top: 1px solid white;
}