/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');


#logo {
  height: 50px;
}

body {
  font-family: 'Rubik', sans-serif;
  transition: all 0.5s ease;
  background-color: #121212;
  color: white;
}

.wrapper {
  margin: auto;
}

.wrapper .acc-item .acc-header{
  line-height: 3rem;
  cursor: pointer;
  text-align: left;
  background-color: beige;
  color: black;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: #121212 2px solid;
}

.wrapper .acc-item .acc-body{
  height: 0px;
  transition: .75s ease;
  text-align: left;
  overflow: hidden;
  background-color: black;
  padding-left: 1rem;
  padding-right: 1rem;
}

.wrapper .acc-item .acc-header.active + .acc-body{
  height: 175px;
  transition: all .75s ease;
  padding: 1rem;
  overflow: auto;
}

.wrapper .acc-item .acc-header .title {
  margin-right: 4rem;
}

.move-up:hover, .move-down:hover {
  transform: scale(1.2, 1.2);
}