{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Story 8 | Cari Buku</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/story8.css' %}" />
{% endblock meta %} {% block content %}
<div class="container-fluid py-5">
  <div class="header">
    <div class="container d-flex justify-content-center">
      <img
        src="{% static 'img/logo.png' %}"
        alt="logo"
        id="logo"
        class="px-3"
      />
      <h1>Cari Buku</h1>
    </div>
    <div class="container text-center pt-4">
      <a class="btn btn-outline-light" href="{% url 'main:home' %}">
        <i class="fas fa-arrow-left"></i>
        Back to home
      </a>
    </div>
  </div>
</div>
<div class="container">
  <div class="form-row">
    <div class="form-group col">
      <input
        class="form-control"
        id="keyword"
        placeholder="masukkan kata kunci"
        type="text"
      />
    </div>
    <div class="form-group col-auto text-right">
      <button id="list-view" class="btn btn-dark" disabled>
        <i class="fas fa-list"></i>
      </button>
      <button id="table-view" class="btn btn-dark">
        <i class="fas fa-table"></i>
      </button>
    </div>
  </div>
  <hr />
  <br />
  <div id="daftar-isi"></div>
</div>
{% endblock content %} {% block scripts %}
<script>
  var array_items = {};
  var use_table_view = false;
  function draw_table() {
    $("#daftar-isi").empty();
    if (array_items != null) {
      $("#daftar-isi").append(
        '<table class="table table-dark table-responsive-lg"><thead><tr><th><i class="fas fa-link"></i></th><th scope="col">Cover</th><th scope="col">Judul</th><th scope="col">Author</th><th>Publisher</th><th>Published</th><th scope="col">ISBN13</th></tr></thead><tbody></tbody></table>'
      );
      for (i = 0; i < array_items.length; i++) {
        var judul = array_items[i].volumeInfo.title;
        try {
          gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
        } catch {
          gambar = "{% static 'img/noimage.png' %}";
        }
        try {
          author = array_items[i].volumeInfo.authors;
          if (author == null) {
            author = "-";
          }
        } catch {
          author = "-";
        }
        try {
          var isbn = "-";
          var temp = array_items[i].volumeInfo.industryIdentifiers;
          if (temp != null) {
            for (j = 0; j < temp.length; j++) {
              if (temp[j].type == "ISBN_13") {
                isbn = temp[j].identifier;
                break;
              }
            }
          }
        } catch {
          isbn = "-";
        }
        try {
          publisher = array_items[i].volumeInfo.publisher;
          if (publisher == null) {
            publisher = "-";
          }
        } catch {
          publisher = "-";
        }
        try {
          publishedDate = array_items[i].volumeInfo.publishedDate;
          if (publishedDate == null) {
            publishedDate = "-";
          }
        } catch {
          publishedDate = "-";
        }
        try {
          preview = array_items[i].volumeInfo.previewLink;
          if (preview == null) {
            preview = "#";
          }
        } catch {
          preview = "#";
        }
        $("tbody").append(
          '<tr><td><a class="button btn-sm btn-dark" href="' +
            preview +
            '" target="_blank"><i class="fas fa-external-link-alt"></i></a></td><td><img src="' +
            gambar +
            '" alt="' +
            judul +
            '" class="img-fluid book-img-table"></td><td>' +
            judul +
            "</td><td>" +
            author +
            "</td><td>" +
            publisher +
            "</td><td>" +
            publishedDate +
            "</td><td>" +
            isbn +
            "</td></tr>"
        );
      }
      $("#daftar-isi").append("<small>(-) : data tidak tersedia </small>");
    } else {
      $("#daftar-isi").append("<p>Hasil tidak ditemukan</p>");
    }
  }
  function draw_list() {
    $("#daftar-isi").empty();
    if (array_items != null) {
      $("#daftar-isi").append('<hr class="hr">');
      for (i = 0; i < array_items.length; i++) {
        judul = array_items[i].volumeInfo.title;
        try {
          gambar = array_items[i].volumeInfo.imageLinks.smallThumbnail;
        } catch {
          gambar = "{% static 'img/noimage.png' %}";
        }
        try {
          author = "by " + array_items[i].volumeInfo.authors.join(", ");
        } catch {
          author = "by Unknown";
        }
        try {
          textSnippet = array_items[i].volumeInfo.description.replace(
            /^(.{150}[^\s]*).*/,
            "$1"
          );
          if (
            textSnippet.length < array_items[i].volumeInfo.description.length
          ) {
            textSnippet += "...";
          }
        } catch {
          textSnippet = "";
        }
        try {
          preview = array_items[i].volumeInfo.previewLink;
          if (preview == null) {
            preview = "#";
          }
        } catch {
          preview = "#";
        }
        $("#daftar-isi").append(
          '<div class="card my-1"><div class="row no-gutters"><div class="col-auto"><img src="' +
            gambar +
            '" class="img-fluid book-img" alt="' +
            judul +
            '"></div><div class="col pl-1"><div class="card-block px-2"><h5 class="card-title">' +
            judul +
            '</h5><p class="card-text">' +
            author +
            "</p><small>" +
            textSnippet +
            '</small><p class="mt-2"><a class="button btn-dark btn-sm" target="_blank" href="' +
            preview +
            '"><i class="fas fa-external-link-alt"></i> preview</a></p></div></div></div><hr class="hr"></div>'
        );
      }
    } else {
      $("#daftar-isi").append("<p>Hasil tidak ditemukan</p>");
    }
  }
  function delay(fn, ms) {
    let timer = 0;
    return function (...args) {
      clearTimeout(timer);
      timer = setTimeout(fn.bind(this, ...args), ms || 0);
    };
  }
  $("#keyword").keyup(
    delay(function () {
      var ketikan = $("#keyword").val();
      console.log(ketikan);
      //panggil dengan ajax
      $.ajax({
        url: "{% url 'story8:cari' %}?q=" + ketikan,
        success: function (data) {
          array_items = data.items;
          if (use_table_view == false) {
            draw_list();
          } else {
            draw_table();
          }
        },
      });
    }, 500)
  );
  $("#table-view").click(function () {
    use_table_view = true;
    $("#list-view").attr("disabled", false);
    $(this).attr("disabled", true);
    draw_table();
  });
  $("#list-view").click(function () {
    use_table_view = false;
    $("#table-view").attr("disabled", false);
    $(this).attr("disabled", true);
    draw_list();
  });
</script>
{% endblock scripts %}
