<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Cover</th>
      <th scope="col">Judul</th>
      <th scope="col">Author</th>
      <th scope="col">ISBN</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
