{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}
<div class="m-5 p-5 d-flex justify-content-around flex-wrap">
<a href="{% url 'story7:home' %}"><button class="btn btn-lg btn-outline-light">Story 7</button></a>
<a href="{% url 'story8:home' %}"><button class="btn btn-lg btn-outline-light">Story 8</button></a>
<a href="{% url 'story9:home' %}"><button class="btn btn-lg btn-outline-light">Story 9</button></a>
</div
{% endblock content %}
